# Shibboleth gateway app

<IfModule mod_ssl.c>
    <VirtualHost _default_:443>
        ServerAdmin {{ site_owner }}@localhost
        DocumentRoot /var/www/{{ site_domain }}/public

        PassengerRuby /usr/bin/ruby2.2
        PassengerAppEnv {{ passenger_app_environment }}

        ErrorLog /var/www/{{ site_domain }}/log/ssl-error.log
        CustomLog /var/www/{{ site_domain }}/log/ssl-access.log combined

        SSLEngine on
        SSLCertificateFile /etc/ssl/certs/{{ site_domain }}.crt
        SSLCertificateKeyFile /etc/ssl/private/{{ site_domain }}.key

        <Directory /var/www/{{ site_domain }}/public>
            Allow from all
            Options -MultiViews
        </Directory>

        # Secure the omniauth-shibboleth callback path
        <Location /auth/shibboleth/callback>
            AuthType shibboleth
            ShibRequestSetting requireSession 1
            Require valid-user
        </Location>
    </VirtualHost>
</IfModule>