# Private Site vhos

<VirtualHost *:80>
    ServerAdmin {{ site_owner }}@localhost
    DocumentRoot /var/www/{{ site_domain }}/public_html

    <Directory /var/www/{{ site_domain }}/public_html/private>
        deny from all
    </Directory>

    ErrorLog /var/www/{{ site_domain }}/log/error.log
    CustomLog /var/www/{{ site_domain }}/log/access.log combined
</VirtualHost>

<IfModule mod_ssl.c>
    <VirtualHost _default_:443>
        ServerAdmin {{ site_owner }}@localhost
        DocumentRoot /var/www/{{ site_domain }}/public_html

        ErrorLog /var/www/{{ site_domain }}/log/ssl-error.log
        CustomLog /var/www/{{ site_domain }}/log/ssl-access.log combined

        SSLEngine on
        SSLCertificateFile /etc/ssl/certs/{{ site_domain }}.crt
        SSLCertificateKeyFile /etc/ssl/private/{{ site_domain }}.key

        <Directory /var/www/{{ site_domain }}/public_html/private>
            AuthType shibboleth
            ShibRequestSetting requireSession 1
            Require valid-user
        </Directory>

        #<FilesMatch "\.(cgi|shtml|phtml|php)$">
        #                SSLOptions +StdEnvVars
        #</FilesMatch>
        #<Directory /usr/lib/cgi-bin>
        #                SSLOptions +StdEnvVars
        #</Directory>
        #BrowserMatch "MSIE [2-6]" \
        #                nokeepalive ssl-unclean-shutdown \
        #                downgrade-1.0 force-response-1.0
        #BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
    </VirtualHost>
</IfModule>